In [1]:
#!pip install pandas
#!pip install seaborn
#!pip install openpyxl
#!pip install json
#!pip install PyYAML
#!pip install fold_to_ascii

In [2]:
import TextTools as tt
import pandas as pd
import seaborn as sns

In [3]:
# The Dictionary
raw = pd.read_excel('Titles.xlsx')
raw.head()

              GP_Title          Title  Unnamed: 2 Unnamed: 3
0                  NaN      HOWLING 7         NaN        NaN
1        Golden Zodiac  Golden Zodiac         NaN        NaN
2            100 LIONS      100 LIONS         NaN        NaN
3   200C  Macaw  Magic    Macaw Magic         NaN        NaN
4          5 DRAGONS        5 Dragons         NaN        NaN

In [4]:
#raw.pop(raw.columns[2])
#raw.pop(raw.columns[2])
raw.shape

(25732, 4)

In [5]:
#raw[raw['GP_Title'].isnull()]

In [6]:
try:
    raw.dropna(thresh=1, inplace=True)
except: None
try:
    raw.dropna(thresh=2, inplace=True)
except: None

In [7]:
#raw[raw['GP_Title'].isnull()]

In [8]:
df=raw

In [9]:
print('i have', df.groupby('Title').count().shape[0], 'distinct ????')

i have 1060 distinct ????

In [ ]:
# The Dictionary
ExcelExceptions = pd.read_excel('Exceptions.xlsx')
#del raw

In [ ]:
# Para Produccion Eliminamos los limites en la evaluacion
#
Suggested=[]
iter=0
for i in ExcelExceptions:
    if iter < 1000000:
        # Limpiamos datos
        i= i.lower()
        Comparison={}
        for j in df.GP_Title:
            j= j.lower()
            Comparison[j]=(tt.JaccardDistance(i,j))
        Suggested.append(max(zip(Comparison.values(), Comparison.keys()))[1])
        iter=iter+1

In [ ]:
ExcelExceptions['Suggested']=Suggested

In [ ]:
Correction=[]
for i in ExcelExceptions['Suggested']:
    for j in range(len(df.GP_Title)):
        if df.GP_Title[j] == i: Correction.append(df.Title[j])
        else: Correction.append(None)

In [ ]:
ExcelExceptions.pop('Suggested')
ExcelExceptions['Suggested']=Correction

In [ ]:
ExcelExceptions.to_excel('TitleTest.xlsx')